@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #000;
}

/* assets/css/main.css */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #333;
  /* Dark gray background */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #E9FF93;
  /* Light green scrollbar handle */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #c3f064;
  /* Slightly darker green on hover */
}

@media (min-width: 768px) {
  .typed-cursor {
    font-size: 6em;
    /* Font size for medium screens and above */
  }
}

@media (max-width: 767px) {
  .typed-cursor {
    font-size: 2em;
    /* Font size for small screens */
  }
}
